*{
	margin: :0;
	padding:0;
	box-size: border-box;
}
body{
	font-family: 'Sansita Swashed', cursive;
	font-family: 'Staatliches', cursive;
/*	background: linear-gradient(to right, #dc2424, #4a569d);
	opacity: 0.5;
*/
}

.contenedor{
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}
.titulo{
	color:#000066;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
/*Header*/
header{
	width: 100%;
	height: auto;
	background-image: url(../img/Logo.jpg);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	background-attachment: fixed;
}
header:before{
	content: "";
	width: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

}
nav{
	text-align: right;
	padding: 30px 50px 0 0;
	font-size: 30px;

}
nav > a{
	color: #000066;
	font-weight: 1000;
	text-decoration: none;
	margin-right: 10px;
}
nav > a:hover{
	text-decoration: underline;

}

header .textos-header h1{
	font-size: 50px;
	color: #000066;
}
header .textos-header h2{
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
}

header .textos-header{
	display:flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	text-align: center;
}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*About us*/
.contenedor-sobre-nosotros{
	display: flex;
	justify-content: center;

}
.imagen-about-us{
	padding: 10px 0px 10px 0px;
	width: 48%;
	height: 35%;
	object-fit: cover;
	border: 9px solid #000066;
	border-radius: 10%;

}
.sobre-nosotros .contenido-textos{
	width: 48%;
	padding: 0px 50px 0px 30px;
}

.contenido-textos h3{
	margin-bottom: 15px;
}
.contenido-textos h3 span{
	background: #000099;
	color: #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 25px;
	padding: 2px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,5);
	margin-right: 20px;
}
.contenido-textos p{
	padding: 0px 0px 10px 5px;
	font-weight: 300;
	text-align: justify;
}

/*Galeria*/
.portafolio{
	background: #FFFFFF;

}
.galeria-port{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.imagen-port{
	width: 44%;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	padding: 0 10px 0 10px;
}

.imagen-port > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hover-galeria>p{
	padding: 0px 0px 10px 10px;
	font-weight: 500;
	text-align: justify;
}

.hover-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);
	background: linear-gradient(to right, #dc2424, #4a569d);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hover-galeria img{
	width: 50px;
}

.hover-galeria p{
	color: #FFFFFF;
	font-size: 30px;
}
.imagen-port:hover .hover-galeria{
	transform: scale(1);
}

/*Clientes*/

.cards{
	display: flex;
	justify-content: space-around;
	padding: 0px 10px 0px 10px;

}
.cards .card{
	background: #336666;
	display: flex;
	width: 80%;
	height: 200px;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}
.cards .card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 9px solid #FFFFFF;
	border-radius: 50%;
	display: block;
}
.cards .card >.contenido-texto-card{
	width: 60%;
}

.cards .card >.contenido-texto-card h4{
	font-weight:100;
	padding-top:5px;
	color: #FFFFFF;
}

.cards .card >.contenido-texto-card p{
	width: 90%;
	height: 50%;
	font-weight:100;
	padding-top:5px;
	color: #FFFFFF;
}

/*Our team*/
.about-servicios{
	background: #FFCCFF;
	padding-bottom: 30px;
}
.servicio-cont{
	display: flex;
	justify-content: center;
	align-items: center;
}
.servicio-ind{
	width: 28%;
	text-align: center;
}
.servicio-ind img{
	width: 90%;
}
.servicio-ind h3{
	margin: 10px 0;
}
.servicio-ind p{
	font-weight: 100;
	text-align: justify-all;
}

/*Footer*/
footer{
	background: #FFCCFF;
	padding: 60px 0 30px 0;
	margin-top: auto;
	overflow: hidden;
}
.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: justify-all;
	shape-margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #990066;
}
.content-foo{
	text-align: center;
	width: 90%;
}
.content-foo h4{
	color: #330033;
	text-decoration: underline;
	border-bottom: 3px solid #990066;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.content-foo p{
	color: #003333;
}
.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #660066;
}

@media screen and (max-width: 900px){
	header{
		background-position: center;
	}
	.contenedor-sobre-nosotros{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sobre-nosotros .contenido-textos{
		width: 90%;
	}
	.imagen-abaut-us{
		width: 90%;
	}

	/*Clientes*/
	.cards{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cards .card{
		width: 90%;
	}
	.cards .card{
		margin-bottom: 30px;
	}
	.servicios-cont{
		justify-content: center;
		flex-direction: column;
	}
	.servicio-ind{
		width: 100%;
		text-align: center;
	}
	.servicios-ind:nth-child(1), .servicio-ind:nth-child(2){
		margin-bottom: 60px;
	}
	.servio-ind img{
		width: 90%;
	}
}

@media screen and (max-width: 500px){
	nav{
		text-align: center;
		padding: 30px 0 0 0;
	}
	nav >a{
		margin-right: 5px;
	}
	.textos-header h1{
		font-size: 35px;
	}

	.textos-header  h2{
		font-size: 20px;
	}

	.imagen-about-us{
		margin-bottom: 60px;
		width: 99%;
	}
	.sobre-nosotros .contenido-textos{
		width: 95%;
	}

	.imagen-port{
		width: 99%;
	}
}